<section class="rpia-home">
  <div class="text">
    <h1>RPI Ambulance</h1>
    <h2>Basic life support</h2>
    <p>For RPI Campus and Local Communities</p>
  </div>
</section>

<section class="upcoming-events content-section home-team">
  <div class="bg-rpia-home">
    <div class="container text-center">
      <h2>Our team at RPI Ambulance</h2>
      <p class="lead">is committed to providing the highest quality prehospital medical care, educate and train others to better understand injury and illness and we strive to master the ever-changing complexities of the world through collaboration.</p>
    </div>
  </div>
</section>
<section class="rpia-home-2 about-us-links">
  <div class="text-center">
    <div class="row">
      <div class="col-12 d-flex justify-content-around align-items-stretch">
        <a href="/rpia-about">
          <div class="container">
            <img src="assets/oboard.jpg" alt="Avatar" class="home-link-img img-fluid">
            <div class="overlay">
              <div class="text">Who we are</div>
            </div>
          </div>
        </a>
        <a href="/rpia-history" class="d-block">
          <div class="container">
            <img src="assets/fr-59-old.jpg" alt="Avatar" class="home-link-img img-fluid">
            <div class="overlay">
              <div class="text">Our History</div>
            </div>
          </div>
        </a>
        <a href="/rpia-service" class="d-block">
          <div class="container">
            <img src="assets/nrb.jpg" alt="Avatar" class="home-link-img img-fluid">
            <div class="overlay">
              <div class="text">Our Service</div>
            </div>
          </div>
        </a>
        <a href="/rpia-work" class="d-block">
          <div class="container">
            <img src="assets/new_fleet.jpg" alt="Avatar" class="home-link-img img-fluid">
            <div class="overlay">
              <div class="text">How we work</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="bg-rpia-donate">
    <h1>Help us today!</h1>
    <h2>Care for our community</h2>
    <a href = "https://securelb.imodules.com/s/1225/mobile/mobile.aspx?sid=1225&gid=1&pgid=6795&dids=.101&bledit=1&sort=1">
      <button class="button button1" style="vertical-align:middle">
        <span> <b> Donate </b> </span>
      </button>
    </a>
  </div>
</section>
<br>
<rpia-carousel></rpia-carousel>

<section class="partners content-section">
  <div class="translucent-bg">
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <h2>Other Agencies</h2>
          <p class="lead">
            RPI Ambulance works with other agencies both within the RPI community and throughout the City of Troy and
            Rensselaer County.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 d-flex justify-content-around align-items-stretch">
          <a href="https://publicsafety.rpi.edu/" class="d-block">
            <img src="assets/partners/pubsafe.svg" class="partner-img img-fluid">
          </a>
          <a href="http://studenthealth.rpi.edu/" class="d-block">
            <img src="assets/partners/shc.svg" class="partner-img img-fluid">
          </a>
          <a href="http://www.remo-ems.com/" class="d-block">
            <img src="assets/partners/remo.svg" class="partner-img img-fluid">
          </a>
          <a href="http://www.rensco.com/departments/public-safety/" class="d-block">
            <img src="assets/partners/rensco.svg" class="partner-img img-fluid">
          </a>
          <a href="http://www.troyny.gov/departments/fire-department/" class="d-block">
            <img src="assets/partners/tfd.svg" class="partner-img img-fluid">
          </a>
        </div>
      </div>
    </div>
  </div>

</section>
