<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

  <!-- Header -->
  <div class="header">
    <h1>Request Coverage</h1>
    <br>
    <h3>Planning an event at or around RPI?</h3>
    <h5>Here are a few options of how RPI Ambulance can provide EMS coverage for your event.
      <br>If you have further questions, please feel free to contact us.</h5>
  </div>


  <div class="container pricing-area text-center">
    <div class="row align-items-center">
      <div class="col plan price-one">
        <ul>
          <li class="heading-one">
            <h1>Tier I</h1>
            <span>$10/hour<sup>*</sup></span>
          </li>
          <li>Long duration; Low capacity</li>
          <li>No dedicated patient care facility</li>
          <li>At least 1 EMT</li>
          <li>First Response 59</li>
          <li>Oxygen and medical supplies</li>
          <li class="plan-action">
            <button (click)='selectT1()' class="btn btn-primary">Select</button>
          </li>
        </ul>
      </div>

      <div class="col plan price-two">
        <ul>
          <li class="heading-two">
            <h1>Tier II</h1>
            <span>$50/hour<sup>*</sup></span>
          </li>
          <li>Larger spectator event</li>
          <li>No dedicated patient care facility</li>
          <li>1&ndash;3 EMTs on field crews</li>
          <li>5939 (remains available for 911 calls)</li>
          <li>Oxygen and medical supplies</li>
          <li class="plan-action">
            <button (click)='selectT2()' class="btn btn-primary">Select</button>
          </li>
        </ul>
      </div>

      <div class="col plan price-three">
        <ul>
          <li class="heading-three">
            <h1>Tier III</h1>
            <span>$150/hour<sup>*</sup></span>
          </li>
          <li>Large spectator events (5,000+)</li>
          <li>Dedicated patient care facility</li>
          <li>3&ndash;5 EMTs on field crews</li>
          <li>5939 (dedicated standby)</li>
          <li>2+ emergency event supervisors</li>
          <li class="plan-action">
            <button (click)='selectT3()' class="btn btn-primary">Select</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <p class="text-center text-muted"><sup>*</sup> Most events within the RPI Community will be staffed free of charge.
  </p>
</body>

</html>



<div id="popup" class="modal">
  <div class="modal-content">
    <button class="close" (click)="close()">&times;</button>
    <!-- Modal content -->
    <form #userPost="ngForm" role="form" (ngSubmit)="onSubmit(userPost.value)" novalidate>
      <h4 class="text-center">Tell us about yourself...</h4>
      <div class="form-group">
        <label for="org_name">Organization Name</label>
        <input type="text" class="form-control" name="org_name" placeholder="Who are we doing this for?" ngModel />
      </div>
      <div class="form-group">
        <label for="contact_name">Contact Name</label>
        <input type="text" class="form-control" name="contact_name" placeholder="Who do we get in touch with?"
          ngModel />

        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <label for="contact_email">Contact Email</label>
              <input type="email" class="form-control" name="contact_email" placeholder="How do we reach you?"
                ngModel />
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              <label for="contact_phone">Contact Phone</label>
              <input type="tel" class="form-control" name="contact_phone" placeholder="(555) 555-5555" ngModel />
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="secondary_contact_name">Secondary Contact Name</label>
        <input type="text" class="form-control" name="secondary_contact_name" placeholder="Who do we get in touch with?"
          ngModel />

        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <label for="secondary_contact_email">Secondary Contact Email</label>
              <input type="email" class="form-control" name="secondary_contact_mail" placeholder="How do we reach you?"
                ngModel />
            </div>
          </div>

          <div class="col-sm">
            <div class="form-group">
              <label for="secondary_contact_phone">Secondary Contact Phone</label>
              <input type="tel" class="form-control" name="secondary_contact_phone" placeholder="(555) 555-5555"
                ngModel />
            </div>
          </div>
        </div>
      </div>

      <h4 class="text-center">Tell us about the event...</h4>
      <div class="form-group">
        <label for="event_name">Event Name</label>
        <input type="text" class="form-control" name="event_name" placeholder="What are we covering?" ngModel />
      </div>
      <div class="form-group">
        <label for="event_location">Event Location</label>
        <input type="text" class="form-control" name="event_location"
          placeholder="Where do you want us? Building Name or Address" ngModel />
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="event_date">Date</label>
            <input type="date" class="form-control" name="event_date" placeholder="MM/DD/YYYY" ngModel />
          </div>
        </div>

        <div class="col-sm">
          <div class="form-group">
            <label for="event_arr_time">Arrival Time</label>
            <input type="time" class="form-control" name="event_arr_time"
              placeholder="HH:MM AM/PM -- When do you need us there?" ngModel />
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="event_type">Event Type</label>
        <select name="event_type" ngModel>
          <option value="Sporting Event">Sporting Event/Game</option>
          <option value="Sports Practice">Sports Practice</option>
          <option value="Hackathon">Hackathon</option>
          <option value="After Dark">"After Dark" Event</option>
          <option value="Run">Run/Marathon</option>
          <option value="Other Outdoor Event">Other Outdoor Event</option>
          <option value="Other Indoor Event">Other Indoor Event</option>
        </select>
      </div>

      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <label for="expected_attendance">Expected Attendance</label>
            <input type="number" min="0" class="form-control" name="expected_attendance" placeholder="0" ngModel />
          </div>
        </div>
        <div class="col-sm">
          <div class="form-group">
            <label for="expected_duration">Expected Duration</label>
            <input type="number" min="0" class="form-control" name="expected_duration" placeholder="Hours" ngModel />
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="more_info">More Information</label>
        <input type="text" class="form-control" name="more_info" placeholder="Anything else you want to let us know?"
          ngModel />
      </div>
      <div class="form-group">
        <div class="g-recaptcha" data-sitekey="6LdHKxUTAAAAAGTBpgYEJZDoAz1uGqG_tX_gQb1K"></div>
      </div>
      <hr />
      <div class="btn-toolbar pull-right">
        <div class="row">
          <div class="col-sm">
            <button type="reset" (click)="clearForm()" class="btn btn-warning">Clear</button>
          </div>
          <div class="col-sm">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </form>
  </div>
</div>